.filters {
	margin-top: 32px;
	width: 365px;
	display: flex;
	flex-direction: column;
}

.filters__row:not(:first-child) {
	margin-top: 16px;
}


.filters__row-title {
	color: #696969;
	font-size: 16px;
}

.filters__row-item {
	margin-left: 35px;
	border: 1px solid #DADADA;
	border-radius: 69px;
	padding: 13px 25px;
	color: #696969;
	font-weight: 600;
	background-color: white;
	cursor: pointer;
	font-size: 15px;
	height: 45px;
}

.filters__row-item:active {
	border: 1px solid #FF791F;
	color: #FF791F;
}