/* Imports */
@import url(./css/reset.css);
@import url(./css/header.css);
@import url(./css/menu.css);
@import url(./css/breadcrumb.css);
@import url(./css/product.css);

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap');

/* Additional properties */

/* body {
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 0;
} */

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-container {
	background-color: #F3F5F6;
	border-radius: 28px;
	height: 3419px;
	border: 4px solid black;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
}

.wrapper {
	margin-left: 330px;
	margin-right: 330px;
	width: 1260px;
}

.wrapper_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 1260px;
}

.wrapper_product {
	height: 420px;
	display: flex;
	align-items: center;
}

.wrapper_props {
	display: flex;
}
