/* Imports */
@import url(./css/reset.css);
@import url(./css/header.css);

/* Additional properties */
.main-container {
	background-color: #F3F5F6;
	border-radius: 28px;
	height: 3419px;
	border: 4px solid black;
}

.wrapper {
	margin-left: 330px;
	margin-right: 330px;
	width: 1260px;
}