/* Imports */

@import url(./css/reset.css);
@import url(./css/header.css);
@import url(./css/menu.css);
@import url(./css/menu-mobile.css);
@import url(./css/breadcrumb.css);
@import url(./css/product.css);
@import url(./css/services.css);
@import url(./css/related-info.css);
@import url(./css/filtes.css);
@import url(./css/related-products.css);
@import url(./css/footer.css);


@import url(./css/listing-filters.css);

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap');

/* Additional properties */

/* body {
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 0;
} */

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-container {
	background-color: #F3F5F6;
	border-radius: 28px;
	/* height: 3419px; */
	border: 4px solid black;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
}

.wrapper {
	margin-left: 330px;
	margin-right: 330px;
	width: 1260px;
}

.wrapper_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 1260px;
}

.wrapper_product {
	height: 420px;
	display: flex;
	align-items: center;
}

.wrapper_product_mobile {
	display: none;
}

.wrapper_props {
	display: flex;
}

.wrapper_services {
	display: flex;
	justify-content: space-between;
}

.wrapper_footer {
	margin-left: auto;
  margin-right: auto;
}

@media all and (max-width: 1350px) and (min-width: 1024px) {
	.wrapper {
		/* margin-left: 128px;
		margin-right: 128px; */
		width: 968px;
	}

	.wrapper_header {
		min-width: 968px;
	}

	h1 {
		font-size: 28px;
	}

	.menu__item > a {
		font-size: 16px;
	}

	.menu__item:not(:first-child) {
    margin-left: 10px;
	}

	.logo {
		margin-right: 0;
		width: 150px;
		height: 35;
	}

	.wrapper_product {
		height: 350px;
	}

	.product-gallery__item {
		width: 72px;
    height: 72px;
	}

	.product-photo {
		margin-left: 16px;
		width: 432px;
		height: 317px;
	}

	.product-info {
		margin-left: 15px;
		margin-top: 22px
	}

	.product-info__price_title {
		font-size: 16px;
	}

	.product-info__price-factors-factor > img {
		width: 30px;
		height: 30px;
	}

	.product-info__price-factors-factor:not(:first-child) {
    margin-left: 13px;
	}
	
	.product-contacts {
		display: flex;
    flex-direction: column;
    align-items: flex-start;
	}

	.product-contacts__text {
		margin-left: 7px;
	}
	
	.product-contacts__price-and-email {
		margin-top: 36px;
	}

	.product-contacts__phone {
		display: flex;
    flex-direction: column;
		align-self: center;
		margin-top: 34px;
	}

	.product-contacts__phone-number {
		font-size: 24px;
	}

	/* Personal offer */
	.personal-offer {
		flex-direction: row-reverse;
		margin-top: 29px
	}

	.personal-offer__text {
		font-size: 14px;
    text-align: left;
	}

	.personal-offer__request-offer-btn {
		margin-left: 0;
	}



	.product-props {
		width: inherit;
		margin-top: 16px;
	}



	.services {
		margin-top: 25px;
	}

	.services__item {
		width: 300px;
    height: 112px;
	}

	.services__item-text {
		margin-left: 12px;
		font-size: 16px;
	}

	.services__item-img {
    margin-left: 8px;
	}


	.related-products-wrapper {
    margin-left: 24px;
    width: 151px;
	}

	.related-products-list__item {
		width: 235px;
	}

	.related-product__price-btn {
		width: 189px;
	}



	.listing-filter__title {
		font-size: 16px;
	}

	.listing-filter__item {
		font-size: 13px;
	}

	.listing-filter:not(:first-child) {
    margin-left: 20px;
	}

	.related-products-product-name {
		font-size: 15px;
	}


	.footer-items__item:not(:first-child) {
    margin-top: 10px;
	}

	.footer-items__link {
		font-size: 14px;
	}
}

@media all and (max-width: 1023px) and (min-width: 768px) {
	.wrapper {
		margin-left: 0;
		margin-right: 0;
		width: 740px;
	}

	.wrapper_header {
		min-width: 740px;
		margin: 0 32px 0 32px;
	}

	h1 {
		font-size: 20px;
	}

	nav:has(> .menu) {
		display: none;
	}

	.menu-mobile {
		display: flex;
	}

	.logo {
		margin-right: 0;
	}

	.actions {
		margin-left: auto;
    margin-right: 32px;
	}

	.call-me__phone {
		font-size: 24px;
	}


	.wrapper_product_mobile {
		display: flex;
		justify-content: space-between;
	}
	
	.wrapper_product {

		display: none;
	}

	.product-gallery {
		flex-direction: row;
		width: 562px;
    justify-content: space-between;
		margin-top: 16px;
	}

	.product-gallery__item {
		width: 66px;
		height: 66px;
	}

	.product-gallery__item:not(:first-child) {
		margin-top: 0;
	}

	.product-photo {
		margin-left: 0;
	}

	.product_mobile_positioning > img,
	.product_mobile_positioning > .product-gallery {
		width: 364px;
	}

	.product-info {
		margin-top: 0;
		margin-left: 0
	}

	.product-info__price_title {
		font-size: 15px;
	}

	.product-info__price-factors {
		justify-content: space-between;
	}

	.product-info__price-factors-factor > img {
		width: 30px;
		height: 30px;
	}

	.product-info__price-factors-factor:not(:first-child) {
    margin-left: 16px;
	}

	.product-info__price-factors-factor > span {
    margin-left: 4px;
		font-size: 14px;
	}


	.product-contacts__price-and-email {
		display: flex;
		flex-direction: column;
		margin-top: 16px;
	}

	.product-contacts__email {
		margin-left: 0;
    font-size: 22px;
	}

	.product-contacts__text {
		margin-left: 0;
	}

	.product-contacts__price-btn {
		font-size: 25px;
		width: 100%;
		height: 64px;
		margin-left: 0;
	}


	.product-contacts__phone {
		display: flex;
		flex-direction: column;
		margin-left: 0;
	}

	.product-contacts__phone-number {
		font-size: 24px;
	}

	.personal-offer {
		display: flex;
		flex-direction: column;
		margin-top: 18px;
	}

	.personal-offer__text {
		padding: 0;
		text-align: center
	}

	.personal-offer__request-offer-btn {
		margin-left: 0;
	}



	.product-props {
		flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px;
	}

	.product-props__info:not(:first-child) {
    margin-left: 0
	}

	.product-props__text {
		text-align: left;
	}


	.services {
		flex-wrap: wrap;
		gap: 20px;
	}

	.services__item {
		width: 350px;
    height: 90px;
	}

	.services__item-img {
		width: 90px;
	}

	.services__item:last-child {
		flex-grow: 1;
	}



	.related-info {
		margin-top: 32px;
	}

	.related-info__table-row > td {
    font-size: 13px;
	}


	.related-info__table-row > td > span {
    margin-left: 8px;
	}

	.filters__row-item {
		padding: 0 16px;
		height: 32px;
	}



	.related-products__title {
		font-size: 24px;
	}

	.related-products-list {
		flex-wrap: wrap;
		gap: 12px;
	}

	.related-products-wrapper {
		width: 295px;
	}

	.related-products-list__item {
		width: 364px;
	}

	.related-product-props:not(:first-child) {
    margin-top: 4px;
	}

	.related-product__price-btn {
		width: 292px;
		margin-top: 12px;
	}

	


	.wrapper_footer {
		align-self: center;
	}

	footer > * {
    margin-top: 24px;
	}

	.footer-items {
		width: 246px;
	}

	.footer-items:first-child {
    margin-left: 24px;
	}

	.footer-items:not(:first-child) {
    margin-left: 15px;
	}

	.footer-items__link {
		font-size: 13px;
	}

	.footer-contacts > img {
		margin-top: 94px;
		width: 246px;
	}

	.footer-items__item:not(:first-child) {
    margin-top: 12px;
	}

	.footer-contacts__info {
    margin-left: 0
	}
}

@media all and (max-width: 767px) and (min-width: 480px) {
	.wrapper {
		margin-left: 0;
		margin-right: 0;
		width: 460px;
	}

	.wrapper_header {
		min-width: 460px;
		margin: 0 10px 0 10px;
	}

	h1 {
		font-size: 20px;
	}

	nav:has(> .menu) {
		display: none;
	}

	.menu-mobile {
		display: flex;
	}

	.call-me__phone {
		font-size: 20px;
	}

	.call-me__callback-btn {
		display: none;
	}

	.logo {
		width: 160px;
	}

	.wrapper_product_mobile {
		display: flex;
		flex-direction: column;
	}

	.wrapper_product {

		display: none;
	}

	.product-gallery {
		flex-direction: row;
		width: 562px;
    justify-content: space-between;
		margin-top: 16px;
	}



	.product-gallery {
		flex-direction: row;
		width: 562px;
    justify-content: space-between;
		margin-top: 16px;
	}

	.product-gallery__item {
		width: 66px;
		height: 66px;
	}

	.product-gallery__item:not(:first-child) {
		margin-top: 0;
	}

	.product-photo {
		margin-left: 0;
	}

	.product_mobile_positioning > img,
	.product_mobile_positioning > .product-gallery {
		width: 100%;
	}

	.product-info {
		margin-top: 32px;
		margin-left: 0;
		align-self: center;
	}

	.product-info__price_title {
		font-size: 18px;
	}

	.product-info__price-factors {
		justify-content: space-between;
	}

	.product-info__price-factors-factor > img {
		width: 40px;
		height: 40px;
	}

	.product-info__price-factors-factor:not(:first-child) {
    margin-left: 16px;
	}

	.product-info__price-factors-factor > span {
    margin-left: 4px;
		font-size: 16px;
	}


	.product-contacts__price-and-email {
		display: flex;
		flex-direction: column;
		margin-top: 16px;
	}

	.product-contacts__email {
		margin-left: 0;
    font-size: 22px;
		margin-top: 24px;
	}

	.product-contacts__text {
		margin-left: 0;
		font-size: 18px;
	}

	.product-contacts__price-btn {
		font-size: 25px;
		width: 100%;
		height: 64px;
		margin-left: 0;
	}


	.product-contacts__phone {
		display: flex;
		flex-direction: column;
		margin-left: 0;
	}

	.product-contacts__phone-number {
		font-size: 32px;
	}

	.personal-offer {
		display: flex;
		flex-direction: column;
		margin-top: 18px;
	}

	.personal-offer__text {
		padding: 0;
		text-align: center
	}

	.personal-offer__request-offer-btn {
		margin-top: 24px;
    width: 175px;
    font-size: 18px;
	}

	.gift-box {
		width: 77px;
	}


	.product-props {
    flex-wrap: wrap;
    gap: 8px;
	}

	.product-props__info {
		width: 96px;
	}

	.product-props__info:not(:first-child) {
    margin-left: 0;
	}

	.product-props__info:last-child {
		flex-grow: 1;
		margin-left: 0;
	}

	.product-props__text {
		font-size: 15px;
	}


	.services {
		flex-direction: column;
		align-items: center;
	}

	.services__item {
		width: 100%;
		height: 94px;
	}

	.services__item:not(:first-child) {
		margin-top: 16px;
	}

	.services__item-img {
		width: 64px;
	}


	.related-info__table-row > td > span {
		margin-left: 0;
		font-size: 14px;
	}


	.related-products-list {
		flex-wrap: wrap;
		justify-content: center;
	}

	.related-products-list__item,
	.related-products-wrapper {
		width: 408px
	}

	.related-products-list__item:not(:first-child) {
		margin-top: 8px;
	}

	.related-product-props:not(:first-child) {
    margin-top: 2px;
	}

	.related-product__price-btn {
		margin-bottom: 16px;
		width: 353px;
		font-size: 18px;
	}


	footer {
		flex-direction: column;
		align-items: center;
		/* height: 679px; */
		height: 330px;
	}

	.footer > * {
		margin-top: 0;
	}

	.footer-items {	
		display: none;
	}
/* 
	.footer-items:first-child {
    margin-left: 0px;
	}

	.footer-items__item:not(:first-child) {
    margin-top: 0;
	}

	.footer-items__link {
		font-size: 12px;
	} */

	.wrapper_footer {
		align-self: center;
	}

	.footer-contacts {
		margin: 0;
	}

	.footer-contacts__info {
		margin-top: 46px;
		margin-left: 0;
		align-items: center;
	}

	.footer-contacts__phone {
		font-size: 32px;
	}

	.footer-contacts__text {
		width: 100%;
	}

	.footer-contacts__email,
	.footer-contacts__text {
		font-size: 20px;
	}

	.footer-contacts > img {
    margin-top: 26px;
	}
}